*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.tool{
    background: #4c6de7;
    display: flex;
    align-items: center;
}
.tool > *{
    font-size: 25px;
    height: 40px;
    width: 40px;
    background: white;
    margin: 5px;
    padding: 3px;
}
#save{
    margin-left: auto;
}
canvas{
    border: 1px solid red;
    margin: 0 auto;
}
.container{
    overflow: hidden;
    /* border: 1px solid #4c6de7; */
    
    display: flex;
    justify-content: center;
}