*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #000;
    background: #8cc84c;
}
.box{
    background: white;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
}
h2 {
    font-size: 22px;
}

.content{
    margin: 10px 0;
    border: 1px solid #888;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}
.content li{
    
    list-style: none;
    background: #8cc84c;
    color: white;
    font-size: 20px;
    margin: 3px;
    padding: 8px;
    border-radius: 5px;
}
.content  input{
    margin-top: 3px;
    margin-left: 5px;
    font-size: 20px;
    outline: none;
    border: none;
    flex: 1;
}
.content li i{
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
}
.remove-all {
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    background: #8cc84c;
    border: none;
    color: aliceblue;
    transition: 0.3s;
}
.remove-all:hover {
    background: #7cac49;
}