*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: #8a66b4;
    display: flex;
    justify-content: center;
    align-items: center;

}
.counter{
    text-align: center;
    border-radius: 10px;
    padding: 20px 40px;
    background: #6b38b6;
    color: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    font-size: 40px;
    margin: 20px;
}
.counter p{
    font-size: 18px;
    margin-bottom:10px ;
}
.counter h2{
    text-align: center;
}